.errPage {
    text-align: center;
    padding-top: 100px;
}

.msgError_auth {
    display: inline-block;
    width: 800px;
    height: 300px;
    border: 1px solid white;
    background-color: white;

    box-shadow: 0 15px 15px -10px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
}

.textError_auth {
    padding-top: 130px;
}

.textError_auth h3 {
    font-size: 20px;
}

.iconError_auth {
    position: absolute;
    padding-left: 375px;
    padding-top: 50px;

}

.msgError_auth i {
    font-size: 60px;

}

.link_autorization {
    margin-top: 20px;

}

.link_autorization a {
    color: blue;
    text-decoration: underline;
}
