.btns_materials{
    padding-bottom: 10px ;
    padding-left: 20px;
}

input.empty {
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;

    /*text-decoration: inherit;*/
}

.empty{
    font-size: 28px;
    height: 39px;
}