<div class=" ">
    <table class="table table-sm ">
        <thead class="high">
        <tr>
            <th scope="col" style=" vertical-align: middle" class="higher">Наименование</th>
            <th scope="col" style="text-align: center; vertical-align: middle; width: 50px" class="higher">Планируемое
                колличество
            </th>
            <th scope="col" style="text-align: center; vertical-align: middle;  width: 50px" class="higher">Поставленное
                колличество
            </th>
            <th scope="col" style="text-align: center; vertical-align: middle;  width: 50px" class="higher">Ед.измерения</th>
            <th scope="col" style="text-align: center; vertical-align: middle; width: 50px" class="higher"></th>
        </tr>
        </thead>
        {% if  error %}
            <tr>
                <td colspan="4"><h4>"{{ q }}" отсутствует в списке</h4></td>
            </tr>
        {% endif %}
        <tbody>
{#        {% for key, value in plan_materials.items %}#}
{#            {% if  value %}#}
{#                <tr>#}
{#                    <td colspan="5"#}
{#                        style="text-align: center; vertical-align: middle; width: 50px; background-color: #ededed">#}
{#                        <b>{{ key }}</b></td>#}
{#                </tr>#}
{#            {% endif %}#}
            {% for key2 in plan_materials %}
                <tr>
                    <td style="text-align: left; padding-left: 10px; vertical-align: middle;">{{ key2.material.name }}</td>
                    <td style="text-align: center; vertical-align: middle; width: 50px">{{ key2.quantity_plan }}</td>
                    <td style="text-align: center; vertical-align: middle; width: 50px">{{ key2.quantity_delivered }}</td>
                    <td style="text-align: center; vertical-align: middle; width: 50px">{{ key2.material.unit.name }}</td>
                    {% if not  error_perm %}
                        <td style="width: 80px">

                            <a class="btn btn-outline-secondary btn-sm mx-auto"
                               style="width: 30px"
                               type="button"
                               id="btn_change_object"
                               href="">
                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                            </a>

                            <a class="btn btn-outline-danger btn-sm mx-auto" style="width: 30px"
                               type="button"
                               id="btn_change_object"
                               href="">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                            </a>

                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
{#        {% endfor %}#}


        <div class="foot">
            <tr>
                <td style="text-align: center; vertical-align: middle" class="footer"></td>
                <td style="text-align: center; vertical-align: middle" class="footer"></td>
                <td style="text-align: center; vertical-align: middle" class="footer"></td>
                <td style="text-align: center; vertical-align: middle" class="footer"></td>
                {% if not error_perm %}
                    <td style="text-align: center; vertical-align: middle" width="80" class="footer">
                {% endif %}
            </tr>
        </div>
        </tbody>

    </table>
</div>