{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset='UTF-8'>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Тестовый сайт</title>

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-datetimepicker.min.css' %}"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/autorize.css' %}">
    <link rel="stylesheet" href="{% static 'css/projects_table.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/glyphicons-halflings-regular.eot' %}">

    {#    <link rel="stylesheet" href="{% static 'css/objects_table.css' %}">#}
    <link href="https://fonts.googleapis.com/css?family=Merriweather&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet"/>
    {#    <script src="{% static 'js/jQuery.js' %}"></script>#}

    {% block add_style %}
    {% endblock %}
</head>

<body>
<header class="header" id="header">
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container">
            <a class="logo" href="{% url 'project:home' %}">
                <div class="icon_logo" id="icon_logo">
                    <div>
                        <i class="fa fa-cog fa-4x fa-fw" id="logo_move"></i>
                    </div>
                    <div class="CMW_logo">
                        <h2>CMW</h2>
                    </div>
                </div>
            </a>

            <nav class="dws-menu  ">
                <ul class='navbar-nav mr-auto'>
                    <li class=" btn-user " style="padding-right: 50px">
                        <a class="nav-link  btn  btn-outline-dark " id="navbarDropdown"
                           role="button" style="width: 200%; text-align: center" onclick="showHide('gb_F')"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-bars" aria-hidden="true" style="font-size: 30px"></i>
                        </a>

                        <div id="gb_F" aria-labelledby="navbarDropdown">
                            {% if user.is_authenticated %}
                                <div style="text-align: center; padding-top: 10px;">
                                    {% if user.img %}
                                        <img  src="{{ user.img.url }} " width="150" height="150" id="photo">
                                    {% else %}
                                        <a type="button" id="upload_photo"
                                           href="{% url 'project:upload_photo' %}?next={{ request.path }}">
                                            <img src="{% static '../media/img/images.jpg' %}" alt="нет фото" width="150" height="150"
                                                 id="empty_photo">
                                        </a>
                                    {% endif %}
                                </div>
                                <div style="text-align: center;">
                                    <a type="button" style="text-align: center; color: #005cbf; " id="upload_photo"
                                       href="{% url 'project:upload_photo' %}?next={{ request.path }}"
                                    >Загрузить фото
                                    </a>
                                </div>

                                <h5 class="user_name">{{ user.get_full_name }}</h5>
                                <div class="dropdown-divider divinder1"></div>
                                <div style="padding-left: 10px">
                                    <p>Должность: {% if user.get_id_position %}{{ user.get_id_position }}{% else %}---{% endif %}</p>
                                    <p>Почта: {% if user.get_email %}{{ user.get_email }}{% else %}---{% endif %}</p>
                                </div>
                                <div class="dropdown-divider divinder2"></div>
                                <div class="btn_in_out">

                                {#                        <li>{{ user.get_full_name }}</li>#}
                                <a href="{% url 'logout' %}?next={{ request.path }}"
                                   class=" btn btn-outline-dark btn-sm ">Выход</a>

                            {% else %}
                                <a href="{% url 'login' %}?next={{ request.path }}" style="width: 100px"
                                   class="btn btn-outline-dark btn-lg ">Вход</a>

                            {% endif %}
                            </div>
                            {#                    <a class="dropdown-item" href="#">Something else here</a>#}
                        </div>
                    </li>
                </ul>
            </nav>
        </div>
    </nav>

</header>
{#{% include 'part_views/create_photo_form.html' %}#}
{#{% include 'tables/create_plan_work.html' %}#}
<div class="container">
    {% block form %}
    {% endblock %}
    {% block entr %}
    {% endblock %}
</div>


</body>
{#<script src={% static 'js/search.js' %}></script>#}
<script src= {% static 'js/wrapper.js' %}></script>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
{#<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"#}
{#        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"#}
{#        crossorigin="anonymous"></script>#}
<script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
{#<script src="{% static 'js/moment-with-locales.min.js' %}"></script>#}
<script src="{% static 'js/bootstrap.min.js' %}"></script>

<script>
    $(document).ready(function () {
        a = $('.js-example-basic-single').select2();
        $('.js-example-basic-multiple').select2();

    });
</script>

{% block add_script %}
{% endblock %}
</body>
</html>