{% extends 'wrapper.html' %}
{% load static %}
{% block add_style %}
    <link rel="stylesheet" href="{% static 'css/form_add_object.css' %}">
{% endblock %}

{% block entr %}
    <div class="container my-4">
        <div class="display-5 text-center">Создать новый Проект</div>
        <div class="row mx-auto">
            <div class="col-md-4">
                <form action="{% url 'object:add' pk=pk_project %}" method="post">{% csrf_token %}
                    {% for field in form %}
                        <div class="form-group">
                            {{ field.label_tag }}
                            <div>{{ field }}</div>
                            <div class="error">{{ field.errors }}</div>
                        </div>
                    {% endfor %}
                    <input type="submit" value="Добавить">
                    <br/><br/>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block add_script %}
    <script src={% static 'js/add_object_form.js' %}></script>
{% endblock %}