{% extends 'wrapper.html' %}
{% load static %}
{% block add_style %}
    <link rel="stylesheet" href="{% static 'css/form_add_object.css' %}">
{% endblock %}

{% block entr %}
    <div class="container my-4">
        <div class="display-4 text-center">Удалить Объект</div>
        <div class="row my-4 ">
            <div class="col-md-6 text-center mx-auto">
                <form method="post">{% csrf_token %}
                    <p>Действительно хотите удалить объект "{{ object }}"?</p>
                    <div class="text-center my-2">
                        <input type="submit" value="Удалить" class="btn btn-outline-danger">
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block add_script %}
    <script src={% static 'js/add_object_form.js' %}></script>
{% endblock %}