{% extends 'card_object.html' %}
{% load static %}
{% block add_style %}
    <link rel="stylesheet" href="{% static 'css/plan_work.css' %}">
{% endblock %}

{% block info %}
    {% if user.is_authenticated %}

        <div class="row block_info_object1">
            <div class="col-sm-6 block_info_object2">
                <div class="card info_object1">
                    <div class="card-body ">
                        <h5 class="card-title">Адрес:</h5>
                        <p class="card-text">{{ object_list.Adress_Object }}</p>
                        <h5 class="card-title">Получатель: </h5>
                        <p class="card-text">{{ object_list.FIO_zakazchika }}</p>
                        <h5 class="card-title">Контактные данные: </h5>
                        <p class="card-text">{{ object_list.Number_phone }}</p>
                        <h5 class="card-title">Н/Ч общее: </h5>
                        <p class="card-text">{{ object_list.NCH_General }}</p>
                        <h5 class="card-title">Н/Ч затрачено: </h5>
                        <p class="card-text">{{ object_list.NCH_Spent }}</p>
                        <h5 class="card-title">Н/Ч осталось: </h5>
                        <p class="card-text">{{ object_list.NCH_Left }}</p>
                        <h5 class="card-title">Выполнено:</h5>
                        <p class="card-text">{{ object_list.Perform_proc }}%</p>
                        <h5 class="card-title">Примечание:</h5>
                        <p class="card-text">{{ object_list.Note }}</p>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 block_info_object2">
                <div class="card info_object2">
                    <div class="card-body">
                        <h5 class="card-title">Руководитель:</h5>
                        <p class="card-text">
                            {% if object_list.ID_Rukovoditel != null %}{{ object_list.ID_Rukovoditel }} {% else %}
                                ---{% endif %}</p>
                        <h5 class="card-title">Менеджер:</h5>
                        <p class="card-text">
                            {% if object_list.ID_Menedger != null %}{{ object_list.ID_Menedger }}{% else %}
                                ---{% endif %}</p>
                        <h5 class="card-title">Инженер:</h5>
                        <p class="card-text">
                            {% if object_list.ID_Ingener != null %}{{ object_list.ID_Ingener }}{% else %}
                                ---{% endif %}</p>
                        <h5 class="card-title">Старший монтажник:</h5>
                        <p class="card-text">
                            {% if object_list.ID_Montazhnik != null %}{{ object_list.ID_Montazhnik }}{% else %}
                                ---{% endif %}</p>
                        <div class="">
                            <div style="" class="btn_docs">
                                <a href="{% url 'object:documents_view' slug_proj slug %}"
                                   class="btn btn-outline-dark">
                                    <i class="fa fa-file-text-o" aria-hidden="true"></i> Документы</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="block_btn">
            <a href="{% url 'object:home' slug_proj %}" type="button"
               class=" btn btn-outline-dark " style="margin-left: -80%"><i
                    class="fa fa-caret-left" aria-hidden="true"></i></a>
        </div>
        {#        <div class="">#}
        <div class="block_btn">
            <div class="btn_update_obj">
                {% if not error_perm %}
                    <a class="btn btn-outline-dark  "
                       id="btn_change_object"
                       href="{% url 'object:update' slug_proj slug %}">
                        Изменить
                    </a>
                {% endif %}
            </div>

        </div>

        {#        </div>#}
    {% else %}

        {% include 'registration/errorPage_auth.html' %}
    {% endif %}
{% endblock %}