{% extends 'registration/../wrapper.html' %}
{% load static %}
{% block add_style %}
    <link rel="stylesheet" href="{% static 'css/objects_table.css' %}">
    <link rel="stylesheet" href="{% static 'css/plan_work.css' %}">
{% endblock %}
{% block entr %}
    {% if user.is_authenticated %}
        <div class="">
            <div class="" style="margin-top: 90px; margin-bottom: -95px">
                <h3>{{ name_project.Name_Project }} </h3><input type="hidden" id="proj_a">
            </div>
            <div class="zone">
                <table class="table " style="">
                    <thead class="thead-dark">

                    <tr>
                        <th scope="col" class="higher">Наименование объекта</th>
                        <th scope="col" class="higher">Н/Ч общее</th>
                        <th scope="col" class="higher">Н/Ч затрачено</th>
                        <th scope="col" class="higher">Н/Ч осталось</th>
                        <th scope="col" class="higher">Выполнено</th>
                        {% if not error_perm %}
                            <th scope="col" class="higher"></th>
                        {% endif %}
                    </tr>
                    </thead>
                    <tbody>
                    {% for table in object_list %}
                        <tr class="str" style="transition: all 0.1s ease;">
                            <td ><a
                                    href="{% url 'object:detail' slug=table.slug slug_proj=name_project.slug %}">
                                <h5>{{ table.Name_Object }}</h5></a></td>
                            <td ><a
                                    href="{% url 'object:detail' slug=table.slug slug_proj=name_project.slug %}">
                                <h5>{{ table.NCH_General }}</h5></a></td>
                            <td ><a
                                    href="{% url 'object:detail' slug=table.slug slug_proj=name_project.slug %}">
                                <h5>{{ table.NCH_Spent }}</h5></a></td>
                            <td><a href="{% url 'object:detail' slug=table.slug slug_proj=name_project.slug %}">
                                <h5>{{ table.NCH_Left }}</h5></a></td>
                            <td><a href="{% url 'object:detail' slug=table.slug slug_proj=name_project.slug %}">
                                <h5>{{ table.Perform_proc }} %</h5></a></td>
                            {% if not  error_perm %}
                                <td>

                                    <a class="btn btn-outline-secondary btn-sm mx-auto"
                                       style="width: 30px"
                                       type="button"
                                       id="btn_change_object"
                                       href="{% url 'object:update' slug=table.slug slug_proj=name_project.slug %}">
                                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                    </a>

                                    <a class="btn btn-outline-danger btn-sm mx-auto" style="width: 30px"
                                       type="button"
                                       id="btn_change_object"
                                       href="{% url 'object:delete' slug=table.slug slug_proj=name_project.slug %}">
                                        <i class="fa fa-trash" aria-hidden="true"></i>
                                    </a>

                                </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="btns">
            <ul class="btn_control">
                <li id="btn_back">
                    <a href="{% url 'project:home' %}"
                       class=" btn btn-outline-dark">
                        <i class="fa fa-caret-left" aria-hidden="true"></i></a>
                </li>
                <li class="ml-lg-auto" id="btn_add">
                    {% if not error_perm %}
                        <a class="btn btn-outline-dark " id="btn_add_object"
                                               type="button"
                                               href="{% url 'object:add' slug_proj=name_project.slug %}">
                        Добавить
                    </a>
                    {% endif %}
                </li>
            </ul>
        </div>
    {% else %}
        {% include 'registration/errorPage_auth.html' %}
    {% endif %}
{% endblock %}



