{% extends 'wrapper.html' %}
{% load static %}
{% block add_style %}
    <link rel="stylesheet" href="{% static 'css/form_add_object.css' %}">
{% endblock %}

{% block entr %}
    <div class="container my-4">
        <div class="display-5 text-center">Редактировать Объект</div>
        <div class="row mx-auto">
            <div class="col-md-4">
                <form action="" method="post">{% csrf_token %}
                    {{ form.as_p }}
{#                    <input type="submit" value="{{ pk_project }}">#}
                    <input type="submit" value="Изменить">
                    <br/><br/>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block add_script %}
    <script src={% static 'js/add_object_form.js' %}></script>
{% endblock %}