.higher {
    /*position: fixed; !* Фиксированное положение *!*/
    /*left: 0; bottom: 100; !* Левый нижний угол *!*/
    /*padding: 10px; !* Поля вокруг текста *!*/
    /*background: #39b54a; !* Цвет фона *!*/
    /*color: #fff; !* Цвет текста *!*/
    /*width: 100%; !* Ширина слоя *!*/

    /*position: fixed; !* Фиксированное положение *!*/
    /*right: 10px; !* Расстояние от правого края окна браузера *!*/
    /*top: 20%; !* Расстояние сверху *!*/
    /*width: 1000px;*/
    position: sticky;
    top: -1px;
    min-height: 5em;
    background: #b9bbbe;
    outline: none;
    position: -webkit-sticky;
    border-top: none;
    border-color: black;
    z-index: 5;
}


.high {
    margin: 0;
    padding: 0;
    top: -1px;
    outline: none;
}

.footer {
    position: sticky;
    bottom: -2px;
    min-height: 5em;
    background: #c6c8ca;
}

.zagolovki {
    padding-top: 5px;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 2px;
}

.zag_name h3 {
    text-align: left;
    font-size: 25px;
}

.nav_object li {
    padding-left: 5px;
}

.info_object1 {
    text-align: left;
    /*margin-left: 10px;*/
    float: left;
    padding-left: 20px; /* Поля вокруг текста */
    width: 100%; /* Ширина слоя */
    height: 100%;

}

.info_object1 p {
    margin-top: -13px;

}

.info_object2 {
    text-align: left;
    /*margin-left: 200px;*/

    float: left;
    padding-left: 20px; /* Поля вокруг текста */
    width: 100%;
    height: 100%;
}

.info_object2 p {
    margin-top: -13px;


}

.block_info_object1 {
    padding-top: 0;

}

.block_info_object2 {
    padding-top: 10px;

}

.block_btn {
    text-align: center;
    margin-top: 5px;
    margin-bottom: -15px;
    padding: 5px;


}

.block_btn_back {
    text-align: left;
}

.block_btn_change{
     text-align: right;
}