{% extends 'wrapper.html' %}
{% load static %}
{#    {% block add_style %}#}
{#        <link rel="stylesheet" href="{% static 'css/projects_table.css' %}">#}
{#    {% endblock %}#}
{% block entr %}
    {% if user.is_authenticated %}

        <section class="table_position">
            <div class="pos_zag">
                <table>
                    <thead>
                    <tr>
                        <th style="text-align: center"><h4>Наименование ГК</h4></th>
                        <th style="text-align: center" class="col2"><h4>Выполнено</h4></th>
                    </tr>
                    </thead>
                </table>
            </div>

            <div class="zone">
                <table>

                    {% for table in project_list %}
{#                        <form action="{% url 'object:home' %}">#}
                            <tr class="str">
                                <td>
                                    <input type="hidden" value={{ table.pk }} name="project_a">
                                    <a href="{% url 'object:home' pk=table.pk %}" class="btn_proj col1"
                                            id="btn_ob1">{{ table.Name_Project }}</a>
                                </td>
                                <td style="text-align: center" class="col2">
                                    <a href="{% url 'object:home' pk=table.pk %}" class="btn_proj col1"
                                            id="btn_ob1">{{ table.Perform_proc }}</a>
                                </td>
                            </tr>
{#                        </form>#}
                    {% endfor %}
                </table>
            </div>
        </section>
    {% else %}
        {% include 'registration/errorPage_auth.html' %}
    {% endif %}

{% endblock %}
{% block add_script %}
{% endblock %}