{% extends 'card_object.html' %}
{% load static %}
{% block add_style %}
    <link rel="stylesheet" href="{% static 'css/form_add_object.css' %}">
    <link rel="stylesheet" href="{% static 'css/plan_work.css' %}">
{% endblock %}

{% block info %}
    {% if user.is_authenticated %}
        <div class="container my-4">
            <div class="display-5 text-center"><h3>Добавить выполненную работу</h3></div>
            {% if error %}
                <div class="msgError_add_object" style="font-size: 15px; margin-top: -8px"><i
                        class="fa fa-exclamation-triangle" aria-hidden="true"></i> {{ error }}</div>
            {% endif %}
            <div class="row ">
                <div class="col-md-6 mx-auto">
                    <form action="" method="post" id="form_check_complete_works">
                        {% csrf_token %}
                        <div class="form-group">
                            <div style="text-align: left; padding-left: 15px">{{ check_form.type_works.label_tag }}</div>
                            {{ check_form.type_works }}
                            <input type="hidden" name="slug_o" value="{{ slug }}">
                            <input type="hidden" name="slug_p" value="{{ slug_proj }}">
                    </form>

                    <form action="{% url 'work:create_complete_work' slug_proj slug %}" method="post">{% csrf_token %}
                        <div class="check_nch">
                        </div>
                        <div class="form-group">

                            <div style="text-align: left; padding-left: 15px; margin-bottom: -7px; margin-top: 6px">{{ form.quantity_complete.label_tag }}</div>
                            <div {% if form.quantity_complete.errors %} class="error_add_object"
                                                                        style="" {% endif %}>
                                {{ form.quantity_complete }}
                            </div>
                            {% if form.quantity_complete.errors %}
                                <div class="msgError_add_object">{{ form.quantity_complete.errors }}</div>
                            {% endif %}

                            <div style="text-align: left; padding-left: 15px;margin-bottom: -7px; margin-top: 6px">{{ form.date.label_tag }}</div>
                            <div {% if form.date.errors %} class="error_add_object" style="" {% endif %}>
                                {{ form.date }}
                            </div>
                            {% if form.date.errors %}
                                <div class="msgError_add_object">{{ form.date.errors }}</div>
                            {% endif %}

                            <div style="text-align: left; padding-left: 15px;margin-bottom: -7px; margin-top: 6px">{{ form.comment.label_tag }}</div>
                            <div {% if form.comment.errors %} class="error_add_object" style="" {% endif %}>
                                {{ form.comment }}
                            </div>
                            {% if form.comment.errors %}
                                <div class="msgError_add_object">{{ form.comment.errors }}</div>
                            {% endif %}
                        </div>


                </div>

                <input type="submit" value="Добавить" class=" btn btn-outline-dark">
                <a href="{% url 'work:complete_work' slug_proj slug %}"
                   class=" btn btn-outline-dark">Отмена</a>
                <br/><br/>

                </form>

            </div>
        </div>
        </div>
    {% else %}
        {% include 'registration/errorPage_auth.html' %}
    {% endif %}
{% endblock %}

{% block add_script %}
    {#    <script src={% static 'js/add_object_form.js' %}></script>#}
    {#    <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>#}
    <script src={% static 'js/cheks.js' %}></script>
    <script src="{% static 'js/moment-with-locales.min.js' %}"></script>
    <script src="{% static 'js/bootstrap-datetimepicker.min.js' %}"></script>
    <script type="text/javascript">
        $(function () {
            $('#datetimepicker2').datetimepicker({
                locale: 'ru',
                format: 'DD.MM.YYYY',

            });
        });
    </script>
{% endblock %}