{% extends 'wrapper.html' %}
{% load static %}
{% block add_style %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/media_card_of_object.css' %}">
{% endblock %}
{% block form %}
    {% if user.is_authenticated %}
        <a href="{% url 'project:home' %} " style="cursor: default">
            <div class="gray">
            </div>
        </a>
        <div class="position_form_upload_photo form-group" id="form_upload_photo">
            <div class="create_photo form-group">
                <H3 style="text-align: center; padding-top: 10px">Загрузить файл</H3>
                <p style="text-align: center; margin-bottom: -5px; margin-top: -5px">Выберите файл установленной формы</p>
                <p style="text-align: center">Формат файла: .xls, .xlsx</p>
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div style="padding: 5px 25px; text-align: center; margin-top: -10px">
                        <input type="file" name="myfile" class="form-control">
                    </div>
                    <div style="text-align: center; padding-top: 10px">
                        <button type="submit" class="btn btn-outline-dark">Загрузить</button>
                        <a href="{% url 'object:materials:plan_materials_view' slug_proj slug%} " class="btn btn-outline-dark" style="margin-left: 20px">Отмена</a>
                    </div>
                </form>
            </div>
        </div>
    {% else %}
        {% include 'registration/errorPage_auth.html' %}
    {% endif %}

{% endblock %}
{% block add_script %}
{% endblock %}